
@{
    ViewBag.Title = "Camiones";
}
<br />
<h4 style="text-align:center">Lista</h4>
<br />
<div>
    @if (ViewBag.ListaCamioneros != null)
    {
        if (ViewBag.ListaCamioneros.Count > 0)
        {

            <div class="collection" style="padding:15px">
                @foreach (CamionesApp.Models.AspNetUsers camionero in ViewBag.ListaCamioneros)
                {

                    <a href="@Url.Action("MapaCamionero","Home",new {UsuarioCamionero=camionero.UserName})" class="collection-item"><span class="badge">@camionero.Email</span>@camionero.nombreCamion</a>

                }

            </div>
        }
        else
        {
            <div class="card-panel">
                <span class="blue-text text-darken-2">Por el momento no hay camiones activos.</span>
            </div>
        }

    }
    else
    {
        <div class="card-panel">
            <span class="blue-text text-darken-2">Por el momento no hay camiones activos.</span>
        </div>
    }

</div>

<script>
    $(".container").removeClass("container");
</script>